@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

.dynamic-hero{
width:100%;
padding:50px 0px;
}
.hero-container{
display:flex;
align-items:center;
justify-content:space-between;
max-width:1300px;
}
.hero-text{
    flex: 1 1 45%;
    padding-right: 50px;
}
.hero-text h1{
    font-size:56px;
    font-weight:700;
    color: #4c2ed0;
    font-family: "Cormorant", serif;
    margin:0px;
}
.hero-text .hero-text-para{
    font-size:18px;
    color: black;
    font-family: "Open Sans", serif;
    margin: 18px 0px;
}
.caption-text{
    font-size:14px;
    color: black;
    font-family: "Open Sans", serif;
    margin: 18px 0px;
    text-decoration:underline;
}
.hero-btn{
    display:inline-block;
    background: linear-gradient(90deg, #9333EA, #2563EB);
    font-family: "Open Sans", serif;
    color:#ffffff;
    margin:0px;
    padding: 12px 24px;
    text-decoration:none;
}
.hero-image-wrap{
    flex: 1 1 45%;
    text-align:right;
}
.hero-image-wrap img{
  width:100%;
  height: auto;
  max-width: 600px;
  border-radius:0px;
  object-fit:cover;
  object-position:center;
}

@media (max-width:768px){
    .dynamic-hero{
        padding-bottom:0px;
    }
   .hero-image-wrap{
    width:100%;
    margin-bottom:20px;
    text-align:center;
}
.hero-text{
    flex: 1 1 45%;
    padding-right: 0px;
}
.hero-image-wrap img{
  max-width: 100%;
} 
.hero-container{
    flex-direction:column;
    text-align:center;
}
.hero-text h1{
    font-size:30px;
}
}
