@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');


.testimonial-slider-container {
  position: relative;
  max-width: 900px;
  margin: auto;
  overflow:hidden;
  text-align: center;
  padding: 40px 20px;
  border-top: 2px solid #797979;
}

.testimonial-slides-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.testimonial-slide.active {
  opacity: 1;
}

.testimonial-slide {
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
}

.testimonial-quote {
  font-family: "Open Sans", serif;
font-weight: 600;
font-size: 22px;
    color: #000000;
line-height: 155%;
letter-spacing: 0.6px;
text-align: center;
}

.reviewer-info {
    font-size: 14px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", serif;
}

.stars {
  margin: 10px 0;
}

.stars span {
  font-size: 18px;
  color:rgb(0, 0, 0);
}

.slider-arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
  padding: 0 20px;
  box-sizing: border-box;
  left: 0;
  right: 0;
}
.slider-arrow {
  background: transparent;
  color: black;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 24px;
  pointer-events: all;
  transition: background 0.3s;
  z-index: 10;
  position: relative;
  border: 2px solid #000;
  padding-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 05px;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active-dot {
  background: #333;
}

.slider-dots span {
  height: 10px;
  width: 10px;
  margin: 3px;
  background: #ccc;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots span.active-dot {
  background: #000;
}
.parent-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 4px;
}

.page-width {
  position: relative;
}

@media (max-width: 767px) {
    .testimonial-slider-container {
    max-width:90%;
    margin:auto;
    padding: 40px 0px;
    }
    .testimonial-slide{
      padding:0px;
    }
  .slider-arrows {
    padding: 0px;
  }
  .slider-arrow {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
  .stars span {
    font-size: 12px;
  }
  .slider-dots{
    margin-top:0px;
  }
  .parent-block{
    margin:0px;
  }
  .testimonial-quote{
    font-size:14px;
  }
  
.reviewer-info{
  font-size:12px;
}
  .parent-block{
    gap:6px;
  }
  .testimonial-slider-container .page-width{
    padding:10px 0.5rem;
  }
}
